* {
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

a {
    text-decoration: none;
}

h1 {
    
}

h6 {
    
}

.gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameArea h3 {
    margin: 0 25px;
}

.selections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice p {
    margin-top: -30px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.gameButton {
    display: flex;
    flex-direction: column;
    border: 5px white solid;
    height: 200px;
    width: 200px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.gameButton p {
    font-weight: bold;
}